<p id="notice"><%= notice %></p>

<h1>Listing Superuserslugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @superuserslugs.each do |superuserslug| %>
      <tr>
        <td><%= superuserslug.name %></td>
        <td><%= superuserslug.slug %></td>
        <td><%= link_to 'Show', superuserslug %></td>
        <td><%= link_to 'Edit', edit_superuserslug_path(superuserslug) %></td>
        <td><%= link_to 'Destroy', superuserslug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superuserslug', new_superuserslug_path %>
