<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @superuserslug.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @superuserslug.slug %>
</p>

<%= link_to 'Edit', edit_superuserslug_path(@superuserslug) %> |
<%= link_to 'Back', superuserslugs_path %>
